{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block nav %}
        {% include 'nav.html' %}
    {% endblock %}
    {% block header %}{% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block script %}
        <script src="{% static "manage_staff.js" %}"></script>
        <script src="{% static "project.js" %}"></script>
    {% endblock %}
</body>
</html>
