<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee</title>
    </head>

    <body>
        <main>
            <div class="head">
                <h1>Employee</h1>
                <div class>
                    <!-- จำนวนพนักงานทั้งหมด -->
                    <h1>Total {{ }} People</h1>
                </div>
            </div>
            <!-- 
                ** Hit if และ for ให้ถูกต้อง
            --> 

            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Employee ID</th>
                        <th>Full Name</th>
                        <th>Genger</th>
                        <th>Birth Date</th>
                        <th>Hire Date</th>
                        <th>Salary</th>
                        <th>Department</th>
                        <th>Position</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <!-- ลำดับการแสดงข้อมูล -->
                        <td></td>
                        <!-- employee id -->
                        <td></td> 
                        <!-- ชื่อ นามสกุล -->
                        <td></td>
                        <!-- เพศ -->
                        <td></td>
                        <!-- วันเกิด (dd/mm/yyyy)-->
                        <td></td>
                        <!-- วันเริ่มงาน (dd/mm/yyyy) -->
                        <td></td>
                        <!-- เงินเดือน ex. 10,000 -->
                        <td></td>
                        <!-- แผนก -->
                        <td></td>
                        <!-- ตำแหน่งงาน -->
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>

</html>