<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>

<body>

    <main>
        <div>
            <h1>Project Detail</h1>

            <form class="form" id="project-form" method="post" style="margin-top: 15px;">

                <label for="">Prohect Name</label>
                <!-- กำหนด value เป็นชื่อ โปรเจค -->
                <input type="text" placeholder="project name" value="{{}}">
                
                <label for="">Description</label>
                <!-- รายละเอียกของโปรเจค -->
                <textarea placeholder="description" rows="4"> {{}} </textarea>

                <label for="">Start Date</label>
                <input 
                    type="date" placeholder="start-date"
                    style="width: 150px;" 
                    value="{{  }}" 
                >
                <label for="">Due Date</label>
                <input 
                    type="date" 
                    placeholder="due-date" 
                    style="width: 150px;" 
                    value="{{  }}"
                >

                <label for="">Project Manager</label>
                <select style="width: 320px; height: 30px;">
                    <!-- กำหนด value เป็น id ของ manager และแสดงชื่อเต็มของ manager -->
                    <option value="{{}}">{{}}</option>
                </select>
            </form>
        </div>

        <br />
        <br />

        <div>
            <div class="head">
                <h2>Employee in this project</h2>

                <div class="action">
                    <div id="add-staff">
                        <input type="text" name="emp_id" id="input-add-staff" placeholder="EMPLOYEE ID">

                        <!-- function addStaff(projectId, staffId, csrf_token) -->
                        <button type="submit" onclick="addStaff()">ADD</button>
                    </div>
                </div>
            </div>
            <div class="itemGroup">
                <div class="item">
                    <!-- id ของพนักงาน ชื่อ นามสกุล -->
                    <div>ID. Full Name</div>

                    <!-- position name -->
                    <div>Position</div>
                    <div class="action">

                        <!-- function removeStaff(project_id ,staff_id, '{{ csrf_token }}' )-->
                        <button type="submit" class="delete" onclick="removeStaff()">Kick this Staff</button>
                    </div>
                </div>

            </div>

        </div>
    </main>
</body>
</html>